*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    text-align: center;
    
}

body h1{
    padding: 20px;
}

.container{
    margin: auto;
}

.condiciones{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.card{
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: space-around;
}

.card img{
    width: 100%;
    height: 90%;
}